:root {
  --primary: #6D8B74;
}


/* reset */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
}


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.left {
  margin-left: -1000px;
  transition: .2s;
}
header {
  transition: .2s;
}
.side-na {
  transition: .3s;
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  background-color: #6D8B74;
}

/* .bg-nav {
  position: absolute;
  background-color: white;
  width: 100%;
  height: calc(2rem + 5vh);
  z-index: -999;
  transition: .3s;
  top: -15px;
} */

.on-page {
  color: #6D8B74 !important;
}

#navbar-togler {
  justify-content: space-between !important;
  align-items: center;
}

.nav-a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(8rem + 20vh);
}

.nav-a a {
  display: flex;
  align-items: center;
  margin-left: calc(1rem + ((1vw - 7.68px) * 0.6944));
}

.nav-a a h3 {
  color: white;
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
}

.nav-a a img {
  width: calc(2.2rem + ((1vw - 7.68px) * 0.6944));
  margin-right: 10px;
}

.nav-a a:nth-child(4) img {
  width: calc(1.8rem + ((1vw - 7.68px) * 0.6944));
}

.nav-foto {
  margin: auto;
  display: block;
  width: calc(11rem + ((1vw - 7.68px) * 0.6944));
  margin: 10px auto;
  transition: 0.3s;
}

.nav-foto h3 {
  transition: .2s;
  text-align: center;
  font-size: calc(1.3rem + ((1vw - 7.68px) * 0.6944)) !important;
  color: white;
  /* width: 300px; */
  margin: auto;
}

.nav-foto:hover h3 {
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  transition: .2s;
}

.nav-foto .foto {
  background-color: black;
  border-radius: 100%;
  width: calc(5rem + ((1vw - 7.68px) * 0.6944));
  height: calc(5rem + ((1vw - 7.68px) * 0.6944));
  margin: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.foto img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}
.copyright p {
  margin-top: -100px;
  color: white;
  font-size: calc(.7rem + ((1vw - 7.68px) * 0.6944));
}

.copyright p:nth-child(2) {
  margin-top: -20px;
}

/* grid */
.gridd {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.text {
  color: #6D8B74 !important;
}

.bg {
  background-color: #6D8B74 !important;
}


/* mobile */
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/* header {
  display: none;
} */

main {
  grid-column: span 12;
}

/* main h2 {
  text-align: center;
  padding: 15px 0;
  background-color: var(--primary);
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
} */

/* .navbar-toggler-icon {
  border: 1px solid black;
} */

.cardds {
  margin-top: 30px;
}

.cardd {
  grid-column: span 6;
  border-radius: 20px;
  box-shadow: 4px 5px 10px 6px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  margin-bottom: 20px;
  /* padding-bottom: 10px; */
}

.cardd a img {
  width: 100%;
  height: calc(7.5rem + ((1vw - 7.68px) * 0.6944));
  object-fit: cover;
  margin: auto;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.text-cardd {
  position: relative;
  margin-top: -15px;
  z-index: 90;
  padding: 8px 20px;
  background-color: #BCCAA5;
  color: black;
  border-radius: 20px;
  overflow: hidden;
}

.text-cardd h3 {
  margin-top: 2px;
  font-size: calc(.8rem + ((1vw - 7.68px) * 0.6944));
}

.text-cardd p {
  margin-top: -5px;
  line-height: 150%;
  font-size: calc(.7rem + ((1vw - 7.68px) * 0.6944));
  max-lines: 2;
}

footer {
  z-index: 969;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--primary);
  height: 70px;
  display: flex;
  align-items: center;
  /* display: none; */
}

.foot-links {
  display: flex;
  justify-content: space-between;
  width: calc(70% + ((1vw - 7.68px) * 0.6944));
  margin: auto;
}

.foot-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-links a h3 {
  color: white;
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  margin-top: 5px;
}

.foot-links a img {
  width: calc(2rem + ((1vw - 7.68px) * 0.6944));
}


.foot-links a:nth-child(4) img {
  width: calc(1.5rem + ((1vw - 7.68px) * 0.6944));
}

/* tablet */
@media screen and (min-width: 620px) {
  .cardd {
    grid-column: span 4;
  }

  .foot-links {
    width: 50%;
  }

  .text-cardd h3 {
    font-size: calc(.9rem + ((1vw - 7.68px) * 0.6944));
  }

  .text-cardd p {
    font-size: calc(.6rem + ((1vw - 7.68px) * 0.6944));
  }

  .cardd a img {
    height: calc(10.5rem + ((1vw - 7.68px) * 0.6944));
  }
}

/* laptop */
@media screen and (min-width: 960px) {

  footer {
    display: none;
  }

  header {
    display: block;
    grid-column: 1/4;
    height: 100vh;
    background-color: var(--primary);
    position: sticky;
    top: 0;
  }

  main {
    padding-left: 30px;
    grid-column: 4/13;
  }

  main h2 {
    background-color: transparent;
    box-shadow: none;
    color: var(--primary);
  }

  .side-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
  }

  .bg-nav {
    position: absolute;
    background-color: white;
    width: 100%;
    height: calc(2rem + 5vh);
    z-index: -999;
    transition: .3s;
    top: -15px;
  }

  .on-page {
    color: #6D8B74 !important;
  }


  .nav-a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(8rem + 20vh);
  }

  .nav-a a {
    display: flex;
    align-items: center;
    margin-left: calc(3rem + ((1vw - 7.68px) * 0.6944));
  }

  .nav-a a h3 {
    color: white;
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  }

  .nav-a a img {
    width: calc(2.2rem + ((1vw - 7.68px) * 0.6944));
    margin-right: 10px;
  }

  .nav-a a:nth-child(4) img {
    width: calc(1.8rem + ((1vw - 7.68px) * 0.6944));
  }

  .nav-foto {
    margin: auto;
    display: block;
    width: calc(15rem + ((1vw - 7.68px) * 0.6944));
    margin: 50px auto;
    transition: 0.3s;
  }

  .nav-foto:hover {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;
    content: '';
  }

  .nav-foto h3 {
    transition: .2s;
    text-align: center;
    font-size: calc(1.5rem + ((1vw - 7.68px) * 0.6944)) !important;
    color: white;
    /* width: 300px; */
    margin: auto;
  }

  .nav-foto:hover h3 {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
    transition: .2s;
  }

  .nav-foto .foto {
    background-color: black;
    border-radius: 100%;
    width: calc(10rem + ((1vw - 7.68px) * 0.6944));
    height: calc(10rem + ((1vw - 7.68px) * 0.6944));
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .foto img {
    margin: auto;
    object-fit: cover;
  }




  .cardd {
    width: 80%;
  }

  .text-cardd h3 {
    font-size: calc(.9rem + ((1vw - 7.68px) * 0.6944));
  }

  .text-cardd p {
    font-size: calc(.5rem + ((1vw - 7.68px) * 0.6944));
  }

  .cardd a img {
    height: calc(10.5rem + ((1vw - 7.68px) * 0.6944));
  }


  

  
}

/* desktop */
@media screen and (min-width: 1200px) {
  header {
    grid-column: 1/4;
    height: 100vh;
    background-color: var(--primary);
  }

  main {
    padding-left: 30px;
    grid-column: 4/13;
  }

  main h2 {
    font-size: 2rem;
    margin-top: 10px;
  }

  .nav-a a {
    display: flex;
    align-items: center;
  }

  .nav-a a h3 {
    color: white;
  }

  .nav-foto {
    margin: auto;
    display: block;
    margin: 50px auto;
    transition: 0.3s;
    width: calc(17rem + ((1vw - 7.68px) * 0.6944));
  }

  .nav-foto:hover {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s;
    content: '';
  }

  .nav-foto .foto {
    background-color: black;
    border-radius: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .nav-a a {
    margin-left: 40px;
  }

  .text-cardd h3 {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  }

  .text-cardd p {
    font-size: calc(.4rem + ((1vw - 7.68px) * 0.6944));
  }

  .cardd a img {
    height: calc(13.5rem + ((1vw - 7.68px) * 0.6944));
  }
}