:root {
  --primary: #6D8B74;
}


/* reset */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary);
}
* {
  margin: 0;
  padding: 0;
}


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');



/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


/* mobile */
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif; 
}
header {
  position: fixed;
  top: 20px;
  left: 20px;
}
main {
  grid-column: span 12;
  padding: 0 20px;
}
.img-catering {
  grid-column: span 12;
}
.img-catering img {
  margin: auto;
  display: block;
  width: 90%;
}
.text-catering {
  grid-column: span 12;
}
.text-catering h2 {
  font-size: calc(2.5rem + ((1vw - 7.68px) * 0.6944));
}
.text-catering p {
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  line-height: 150%;
  display: inline-block;
}
.text-catering p:nth-child(2){
  color: #4f4f4f;
  font-weight: 500;
  margin-bottom: 20px;
}
.keterangan {
  display: block;
}
hr {
  margin-top: 30px;
}
.text-catering .btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
}
.menu h3{
  color: black;
  font-size: calc(2.5rem + ((1vw - 7.68px) * 0.6944));
  text-align: center;
  margin: 20px 0;
}
.container {
  gap: 10px;
}
.container .card {
  width: 100%;
  grid-column: span 12;
  background-color: var(--primary);
  padding-top: 18px;

  box-sizing: border-box;
  border-radius: 20px;
}
.list h4 {
  font-size: calc(1.5rem + ((1vw - 7.68px) * 0.6944));
  margin-bottom: 8px;
  padding-left: calc(1.3rem + ((1vw - 7.68px) * 0.6944));
}
.list ul {
  padding-left: calc(2.9rem + ((1vw - 7.68px) * 0.6944));
  list-style: disc;
}
.list ul li, h4,.list h3 {
  color: white;
}
.list ul li {
  font-size: calc(1.3rem + ((1vw - 7.68px) * 0.6944));
}
.list h3 {
  margin-top: 20px;
  text-align: right;
  /* width: 200px; */
  margin-right: 20px;
  font-size: calc(1.6rem + ((1vw - 7.68px) * 0.6944));
}
.pilih {
  transition: 0.5s ease-in-out;
  position: fixed;
  bottom: -100px;
  /* right: 10px; */
  background-color: white;
  width: 100vw;
  justify-content: space-around;
  display: flex;
  align-items: center;
  /* box-shadow: 0 -10px 7px rgba(0, 0, 0, 0.2); */
}
.pilihan {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  width: 200px;
  height: 60px;
}
.pilihan button {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #6D8B74;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.options {
  margin-top: 20px;
}

.options a {
  grid-column: span 3;
  text-align: center;
}

/* tablet */
@media screen and (min-width: 620px) {
  .menu .container {
    gap: 30px;
  }
  .container .card {
    grid-column: span 6;
  }
}


/* laptop */
@media screen and (min-width: 960px){
  .catering {
    margin-top: 50px;
  }
  .img-catering {
    grid-column: 1/6;
  }
  .text-catering {
    grid-column: 7/12;
  }
  .container .card {
    grid-column: span 4;
  }
}


/* desktop */
@media screen and (min-width: 1200px){

}