@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --primary: #6D8B74;
}


/* reset */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
}


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');



/* grid */
.gridd {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


/* mobile */
body {
  position: relative;
  padding-right: 20px;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
header {
  display: none;
}

main {
  grid-column: span 12;
  padding: 0 20px;
}
.img-catering {
  grid-column: span 12;
}
.img-catering img {
  margin: auto;
  display: block;
  width: 90%;
}
.text-catering {
  grid-column: span 12;
}
.text-catering h2 {
  font-size: calc(2.5rem + ((1vw - 7.68px) * 0.6944));
}
.text-catering p {
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  color: black;
}
.nav-menu-item a p{
  color: #6D8B74;
  font-size: calc(.7rem + ((1vw - 7.68px) * 0.6944));
}
.nav-menu .active {
  padding: 0px 20px;
  /* width: 200px;
  height: 70px; */
  border-radius: 20px;
  border: 2px solid #6D8B74;
}
.text-catering p:nth-child(2){
  color: #4f4f4f;
  font-weight: 500;
  margin-bottom: 20px;
  background-color: #BCCAA5;
  /* padding-bottom: 10px; */
}
.keterangan {
  display: block;
}
hr {
  margin-top: 30px;
}
.text-catering .btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
}
.menu h3{
  color: black;
  margin-top: 10px;
}
.cards {
  gap: 10px;
}
.cards .card {
  width: 100%;
  grid-column: span 12;
  background-color: var(--primary);
  padding-top: 18px;

  box-sizing: border-box;
  border-radius: 20px;
}
.card-img {
  width: 90%;
  margin: auto;
  display: block;
}
.pilih {
  transition: 0.5s ease-in-out;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--primary);
  height: 70px;
  display: flex;
  align-items: center;
}

.foot-links {
  display: flex;
  justify-content: space-between;
  width: calc(70% + ((1vw - 7.68px) * 0.6944));
  margin: auto;
}
.pilihan {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pilihan button {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #6D8B74;
  color: white;
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  margin-top: 5px;
}

.option p {
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
}
.card h3 {
  margin-top: -2px;
  color: black;
  font-size: calc(2.5rem + ((1vw - 7.68px) * 0.6944));
}
.card p {
  margin-top: 10px;
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: calc(1.2rem + ((1vw - 7.68px) * 0.6944));
}

.text-card .link{
  float: right;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid;
  margin-bottom: 20px;
  margin-right: 20px;
  color: black;
}
.clear {
  clear: both;
}

/* tablet */
@media screen and (min-width: 620px) {
  .menu .cards {
    gap: 30px;
  }
  .cards .card {
    grid-column: span 4;
  }
  .option h3 {
    font-size: calc(1.2rem + ((1vw - 7.68px) * 0.6944));
  }
  
  .option p {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  }
}


/* laptop */
@media screen and (min-width: 960px){
  .catering {
    margin-top: 50px;
  }
  .img-catering {
    grid-column: 1/6;
  }
  .text-catering {
    grid-column: 7/12;
  }
  .container .card {
    grid-column: span 4;
  }
  
}

/* desktop */
@media screen and (min-width: 1200px){

}