:root {
  --primary: #6D8B74;
}


/* reset */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary);
}
* {
  margin: 0;
  padding: 0;
}


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');



/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


/* mobile */
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif; 
}
header {
  display: none;
}
main {
  grid-column: span 12;
}
main h2 {
  text-align: center;
  /* margin-top: 20px; */
  padding: 15px 0;
  background-color: var(--primary);
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.cards {
  margin-top: 30px;
}
.card {
  grid-column: span 6;
  border-radius: 20px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.card img {
  width: 100%;
  object-fit: cover;
  margin: auto;
  display: block;
}
.text-card {
  padding: 10px;
}
.text-card h3 {
  font-size: 1em;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--primary);
  height: 70px;
  display: flex;
  align-items: center;
}
.foot-links {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.foot-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot-links a h3 {
  color: white;
  font-size: 1rem;
  margin-top: 5px;
}
.foot-links a img {
  width: 30px;
}

/* tablet */
@media screen and (min-width: 620px) {
  
}

/* laptop */
@media screen and (min-width: 960px) {
  header {
    grid-column: 1/4;
    height: 100vh;
    background-color: var(--primary);
  }
  main {
    grid-column: 4/12;
  } 
  .nav-links a {
    display: flex;
    align-items: center;
  }
  .nav-links a h3 {
    color: white;
  }
  .nav-foto {
    margin: auto;
    display: block;
    width: 300px;
    margin: 50px auto;
    transition: 0.3s;
  }
  .nav-foto:hover {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s;
    content: '';
  }
  .nav-foto .foto {
    background-color: black;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .foto img {
    margin: auto;
    width: 75%;
  }
  .nav-foto h3 {
    text-align: center;
    font-size: 2em;
    color: white;
    /* width: 300px; */
    margin: auto;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
  }
  .nav-links a {
    margin-left: 80px;
  }
  .nav-links a img {
    width: 50px;
    margin-right: 10px;
  }
  .nav-links a h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  
}

/* desktop */
@media screen and (min-width: 1200px) {
  
}