:root {
  --primary: #6D8B74;
}


/* reset */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
}


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');



/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


/* mobile */
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

header {
  display: none;
}

main {
  grid-column: span 12;
}

main h2 {
  text-align: center;
  /* margin-top: 20px; */
  padding: 15px 0;
  background-color: var(--primary);
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--primary);
  height: 70px;
  display: flex;
}

.foot-links {
  display: flex;
  justify-content: space-between;
  width: calc(70% + ((1vw - 7.68px) * 0.6944));
  margin: auto;
}

.foot-links a {
  display: flex;
  flex-direction: column;
}

.foot-links a h3 {
  color: white;
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  margin-top: 5px;
}

.foot-links a img {
  width: calc(2rem + ((1vw - 7.68px) * 0.6944));
}

.img-catering {
  grid-column: span 12;
}

.img-catering img {
  border-radius: 20px;
  margin: auto;
  display: block;
  width: 90%;
  height: 300px;
  object-fit: cover;
}

.text-catering {
  grid-column: span 12;
}

.text-catering h2 {
  text-align: left;
  font-size: calc(2.5rem + ((1vw - 7.68px) * 0.6944));
}

.text-catering h3 {
  margin-top: -10px;
  text-align: left;
  font-size: calc(1.4rem + ((1vw - 7.68px) * 0.6944));
}

.text-catering p {
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  line-height: 150%;
  display: inline-block;
}

.keterangan {
  display: block;
}

hr {
  margin-top: 30px;
}

.text-catering .btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
}

.menu h3 {
  color: black;
  font-size: calc(2rem + ((1vw - 7.68px) * 0.6944));
  text-align: center;
  margin-top: 10px;
}

.cards {
  gap: 10px;
  margin-bottom: 30px;
}

.cards .card {
  width: 100%;
  grid-column: span 6;
  background-color: #BCCAA5;
  padding-top: 18px;
  box-sizing: border-box;
  border-radius: 20px;
}

.card-img {
  width: 90%;
  margin: auto;
  display: block;
}

.pilih {
  transition: 0.5s ease-in-out;
  position: fixed;
  bottom: -100px;
  /* right: 10px; */
  background-color: white;
  width: 100vw;
  justify-content: space-around;
  display: flex;
  /* box-shadow: 0 -10px 7px rgba(0, 0, 0, 0.2); */
}

.pilihan {
  justify-content: space-evenly;
  display: flex;
  width: 200px;
  height: 60px;
}

.pilihan button {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #6D8B74;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.options {
  margin-bottom: 40px;
}

.options a {
  grid-column: span 3;
  text-align: center;
}

.option h3 {
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
}

.option p {
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
}

.card h3 {
  margin-top: -2px;
  margin-bottom: 10px;
  color: black;
  font-size: calc(2.5rem + ((1vw - 7.68px) * 0.6944));
}

.card p {
  margin-top: 10px;
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: calc(1.2rem + ((1vw - 7.68px) * 0.6944));
}

.text-card .link {
  float: right;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid;
  margin-bottom: 20px;
  margin-right: 20px;
  color: black;
}

.clear {
  clear: both;
}

.text-catering {
  padding: 0 30px;
}

.text-catering hr {
  border: 0.2px solid #BDBDBD;
  margin-top: 20px;
  margin-bottom: 20px;
}

.catering {
  margin-top: 40px;
}

.tambah {
  border-radius: 60px;
  border: 1px solid #BDBDBD;
  display: flex;
  height: 40px;
  width: 100px;
  justify-content: space-around;
  align-items: center;
}

.tambah button {
  border: none;
  background-color: transparent;
}

.tambah h5 {
  line-height: 40px;
  padding: 0 15px;
  border-right: 1px solid #BDBDBD;
  border-left: 1px solid #BDBDBD;
}

.medsos p:nth-child(1) {
  /* width: 140px; */
  display: block;
  /* justify-content: space; */
}

.medsos p:nth-child(2) {
  align-items: center;
}

.columnn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.columnn:nth-child(2) button {
  background-color: #6D8B74;
  border: 0;
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 50px;
}

.medsos-link {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.deskripsi h3 {
  margin-top: 10px;
  font-size: calc(1.5rem + ((1vw - 7.68px) * 0.6944));
}

.deskripsi p {
  margin-top: 20px;
  margin-bottom: 40px;
}

.alerts {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.alert {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: block;
  text-align: center;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  height: calc(3.6rem + ((1vw - 7.68px) * 0.6944));
  z-index: 99;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.ada {
  display: block;
}

.alert p {
  color: black;
  margin-bottom: 10px;
  font-size: calc(1.2rem + ((1vw - 7.68px) * 0.6944));

  font-weight: 500;
}

.alert a {
  margin-bottom: 20px;
  display: inline-block;
  height: 30px;
  width: 150px;
  line-height: 30px;
  background-color: #BDBDBD;
  color: white;
  border-radius: 20px;
}

/* tablet */
@media screen and (min-width: 620px) {
  .card {
    grid-column: span 4;
    width: 80%;
  }

  .foot-links {
    width: 50%;
  }

}

/* laptop */
@media screen and (min-width: 960px) {
  .cards .card {
    grid-column: span 4;
  }

  footer {
    display: none;
  }

  header {
    display: block;
    grid-column: 1/4;
    height: 100vh;
    background-color: var(--primary);
    position: sticky;
    top: 0;
  }

  main {
    padding: 0 20px;
    padding-left: 30px;
    grid-column: 4/13;
  }

  main h2 {
    background-color: transparent;
    box-shadow: none;
    color: var(--primary);
  }

  .nav-links a {
    display: flex;
  }

  .nav-links a h3 {
    color: white;
  }

  .nav-foto {
    margin: auto;
    display: block;
    width: calc(16rem + ((1vw - 7.68px) * 0.6944));
    margin: 50px auto;
    transition: 0.3s;
  }

  .nav-foto:hover {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s;
    content: '';
  }

  .nav-foto .foto {
    background-color: black;
    border-radius: 100%;
    width: calc(10rem + ((1vw - 7.68px) * 0.6944));
    height: calc(10rem + ((1vw - 7.68px) * 0.6944));
    margin: auto;
    display: flex;
    overflow: hidden;
  }

  .foto img {
    margin: auto;
    width: 55%;
  }

  .nav-foto h3 {
    text-align: center;
    font-size: calc(1.5rem + ((1vw - 7.68px) * 0.6944));
    color: white;
    /* width: 300px; */
    margin: auto;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
  }

  .nav-links a {
    margin-left: calc(2rem + ((1vw - 7.68px) * 0.6944));
  }

  .nav-links a img {
    width: calc(2.5rem + ((1vw - 7.68px) * 0.6944));
    margin-right: 10px;
  }

  .nav-links a h3 {
    font-size: calc(1.4rem + ((1vw - 7.68px) * 0.6944));
  }

  .text-card h3 {
    font-size: calc(1.8rem + ((1vw - 7.68px) * 0.6944));
  }

  .text-card p {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  }
  .o ol {
    list-style: none;
  }

  .o ol li a {
    text-decoration: underline;
  }

  .img-catering {
    grid-column: 1/5;
  }

  .text-catering {
    grid-column: 5/12;
    text-align: left;
  }

  .cards {
    gap: 30px;
  }

  .alert {
    height: calc(2.6rem + ((1vw - 7.68px) * 0.6944));
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  header {
    grid-column: 1/4;
    height: 100vh;
    background-color: var(--primary);
  }

  main {
    padding-left: 30px;
    grid-column: 4/13;
  }

  main h2 {
    font-size: 2rem;
    margin-top: 10px;
  }

  .nav-links a {
    display: flex;
  }

  .nav-links a h3 {
    color: white;
  }

  .nav-foto {
    margin: auto;
    display: block;
    margin: 50px auto;
    transition: 0.3s;
  }

  .nav-foto:hover {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s;
    content: '';
  }

  .nav-foto .foto {
    background-color: black;
    border-radius: 100%;
    margin: auto;
    display: flex;
    overflow: hidden;
  }

  .foto img {
    margin: auto;
    width: 55%;
  }

  .nav-links a {
    margin-left: 40px;
  }

  .text-card h3 {
    font-size: calc(1.9rem + ((1vw - 7.68px) * 0.6944));
  }

  .text-card p {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  }
}